html {
    height: 100%;
}

body {
    height: 100%;
    background-color: beige;
    background-image: url(https://www.freeiconspng.com/minicovers/animal-paw-vector-icon-animals-icons-icons-download-0.png)
}
a {
    text-decoration: none;
}
.main {
    height: 100%;
}
.social-image {
    width: 30px;
    margin: 15px;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
.gallery{
    display: flex;
}
.thumbnail-image{
    width: 100%;
}
aboutMain{
    display: flex;
}
rightPane{
    width:30%;
}
leftPane{
    width:70%;
}