html {
    height: 100%;
}

body {
    height: 100%;
    background-color: beige;
    background-image: url(https://www.freeiconspng.com/minicovers/animal-paw-vector-icon-animals-icons-icons-download-0.png)
}
a {
    text-decoration: none;
}
.main {
    height: 100%;
    display: flex;
}
.social-image {
    width: 30px;
    margin: 15px;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: beige;
    font-family: 'Concert One', cursive;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: beige;
}
.gallery{
    display: flex;

}
.thumbnail-image{
    width: 100%;
}
.thumbnail{
    padding: 10px;
}
.aboutMain{
    display: flex;
    justify-content: center;
    width: 500px;
}
.rightPane{
    width:10%;
}
.leftPane{
    width:80%;
    border: 3px solid gray;
    background-color: beige;
}
h1{
   color: #505050;
   
}

#mainImg{
    height: 100%;
    width: 80%;
    justify-content: center;
}

    
